# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

{{ ansible_managed|comment }}

AddressFamily any

HostKeyAlgorithms ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp521-cert-v01@openssh.com,ssh-ed25519-cert-v01@openssh.com,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519

{% if (ssh_version|default)['stdout']|default(0) is version_compare('7.5', '>=') -%}

KexAlgorithms -*sha1*

MACs -*md5*
MACs -*ripemd*
MACs -*sha1*
MACs -*umac-64*

{%- else -%}

KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256

MACs umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,umac-128@openssh.com,hmac-sha2-256,hmac-sha2-512

{%- endif %}

# Authentication:

LoginGraceTime 2m
PermitRootLogin forced-commands-only

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile .ssh/authorized_keys

UsePAM yes
PasswordAuthentication no
ChallengeResponseAuthentication no

PrintMotd no

# override default of no subsystems
{% if ansible_distribution == "Debian" -%}
Subsystem sftp /usr/lib/openssh/sftp-server
{%- else -%}
Subsystem sftp /usr/lib/ssh/sftp-server
{%- endif %}
